---
import Layout from '../layouts/Layout.astro';
import Catalog from '../components/Catalog';
---

<Layout title="La Carne | Creemos">
	<main class="relative min-h-[655px] overflow-y-hidden">
		<Catalog client:visible/>
	</main>
</Layout>

<style>
</style>