---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="La Carne | Pasión por las cosas bien hechas">
	
	<main class="overflow-y-hidden">
		<Hero />
	</main>

</Layout>