---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Términos y Condiciones">
    <header class="w-full text-center text-6xl mt-16">
        <h1>Términos y Condiciones</h1>
    </header>
    <br />
    <main class="flex flex-wrap w-full px-10">
        <section class="row">
            <h2 class="text-4xl">1. POLÍTICAS DE DEVOLUCIONES</h2>
            <p class="text-muted-foreground">
                Nuestro ideal de gestión en LA CARNE es generar satisfacción total al cliente, tanto en nuestros productos como en el proceso de entrega, por estos motivos siempre buscamos la mejor solución para nuestros clientes.
            </p>
            <p class="text-muted-foreground">
                Se podrán realizar cambios o devoluciones de producto por mal estado del producto mas no del empaque. La solicitud de cambio debe ser en el momento de la entrega.
            </p>
            <p class="text-muted-foreground">
                Cualquier artículo comprado en LA CARNE, debe ser devuelto en su empaque y/o embalaje original de esta manera será aceptado de vuelta.
            </p>
            <p class="text-muted-foreground">
                Antes de realizar la devolución, tendrás que comunicarlo al departamento de Atención al cliente al (+58) 424-1916687.
            </p>
            <p class="text-muted-foreground">
                Al momento de la entrega y revisión del pedido por el cliente, y este encuentra que el pedido no coincide con lo pedido o este incompleto; este lo podrá devolver con el delivery.
            </p>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">2. SOPORTE EN LÍNEA</h2>
            <ul class="text-muted-foreground" style="list-style: disc;">
                <li class="list-disc">WhatsApp +58 424-1916687</li>
                <li class="list-disc">Correo electrónico lacarneccs@gmail.com</li>
                <li class="list-disc">Instagram @lacarne._</li>
            </ul>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">3. ANULACIÓN DE LA ORDEN</h2>
            <p class="text-muted-foreground">
                Si la anulación del pedido o modificación del mismo llega antes de la salida de mercancía el cliente no tendrá ningún gasto. En el caso de una anulación o modificación después de la salida del pedido, correrán de tu cuenta los gastos de envío de ese mismo pedido.
            </p>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">4. GARANTÍA</h2>
            <p class="text-muted-foreground">
                Es importante tener en cuenta que nuestros productos son refrigerados y libres de conservantes y/o preservativos que no extiendan la vida útil del producto, motivo por el cual estos deben ser consumidos en la menor brevedad posible.
            </p>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">5. REEMBOLSO DEL DINERO</h2>
            <p class="text-muted-foreground">
                En caso de generarse devolución de dinero, el reembolso tardará entre 2 y 25 días hábiles, según el método de pago utilizado.Las devoluciones en dinero, se hacen a través de transferencia Bancaria (cuenta de ahorros, cuenta corriente Banesco).
            </p>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">6. POLÍTICAS DE ENTREGA</h2>
            <p class="text-muted-foreground">
                En el área metropolitana de Caracas, Venezuela, el envío se realizará después de la aprobación y confirmación de la compra, nuestra promesa de entrega es de 2 a 8 horas. Cualquier persona que se encuentre en el domicilio donde se debe realizar la entrega, estará debidamente autorizada por el cliente para recibir su pedido. Por consiguiente, LA CARNE, queda exonerada de cualquier responsabilidad por la entrega que se realice, siempre que la misma se haga en el domicilio registrado al momento de la orden.
            </p>
            <p class="text-muted-foreground">
                El horario de las entregas es de lunes a sábado de 9:00 am a 7:00 pm. No se realizan entregas los domingos.
            </p>
        </section>

        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl text-rojo">IMPORTANTE</h2>
            <p class="text-muted-foreground">
                Los productos de cerdo se entregan frescos sin maduración y su consumo debe de ser inmediato o de lo contrario congelar.
            </p>
            <p class="text-muted-foreground">
                En el momento del envío y entrega es posible que el producto pierda el vacío esto no afecta en nada la calidad del producto, por lo que esta situación no tiene garantía ni cambio alguno. 
            </p>
            <p class="text-muted-foreground">
                <span class="text-rojo">Nota:</span> LA CARNE, solo asumirá devoluciones (reembolso) de productos en mal estado (vencido). No se realiza cambio de producto debido a que dichos envíos se contratan mediante terceros por lo que se realizara el reembolso del producto en mal estado (vencido).
            </p>
            <p class="text-muted-foreground">
                Una vez recibas el pedido y tengas algún producto en mal estado (vencido), tendrás que comunicarlo al departamento de Atención al cliente al (+58) 424-1916687 al correo electrónico lacarneccs@gmail.com.
            </p>
        </section>
        
        <section class="row" style="margin-top: 20px;">
            <h2 class="text-4xl">MÉTODOS DE PAGO</h2>
            <p class="text-muted-foreground">
                Nuestros métodos de pago son los siguientes:
            </p>
            <ul class="text-muted-foreground" style="list-style: disc;">
                <li class="list-disc">Tarjetas de débito.</li>
                <li class="list-disc">Pago Móvil.</li>
                <li class="list-disc">Zelle</li>
                <li class="list-disc">Divisas (Dólares) en Efectivo.</li>
                <li class="list-disc">No recibimos tarjetas internacionales.</li>
            </ul>
        </section>
    </main>
</Layout>