---
---

<div class="flex flex-wrap md:justify-center lg:justify-around max-w-full px-10 mt-16">
    <div class="mt-20 mb-5 w-screen text-center">
        <h1 class="uppercase text-pop-up-top text-balance text-gray-200 text-center text-6xl md:text-8xl Logo">Somos diferentes al resto</h1>
    </div>

    <div class="my-10 w-96 justify-start">
        <div class="flex justify-center">
            <i class="puff-in-center z-10 fi fi-rs-shield-check text-9xl"/>
        </div>
        <h2 class="uppercase slide-bottom text-center text-rojo text-4xl Logo">Cuidamos cada detalle</h2>
        <p class="uppercase slide-bottom font-thin text-justify mt-4">
            Desde la correcta selección de reses, cortes, limpieza hasta el empaquetado de cada uno de nuestros packs.
        </p>
    </div>

    <div class="my-10 w-96 justify-start">
        <div class="flex justify-center">
            <i class="puff-in-center z-10 fi fi-rs-replace text-9xl"/>
        </div>
        <h2 class="uppercase slide-bottom text-center text-rojo text-4xl Logo">Personaliza tu Pedido</h2>
        <p class="uppercase slide-bottom font-thin text-justify mt-4">
            Ajustamos nuestros packs en base a tus requerimientos, garantizando tu satisfacción al recibir el producto ideal y de mejor calidad.
        </p>
    </div>

</div>