---
import { SocialIcon } from 'react-social-icons'
---

<div class="grid items-center border-t lg:flex-row">
    <div class="flex-row w-full text-center mt-4">
        <SocialIcon bgColor="#09090b" fgColor="#eaeaea" network="instagram" url="https://www.instagram.com/lacarne._" />
        <SocialIcon bgColor="#09090b" fgColor="#eaeaea" network="whatsapp" url="https://wa.me/584241916687" />
    </div>
    <div class="row w-full text-center mt-4 mb-10">
        <p class="text-sm text-muted-foreground">
            © 2024 La Carne, derechos reservados. <a class="hover:text-rojo" href="/terminosycondiciones">Términos y Condiciones.</a>
        </p>
        <p class="text-sm text-muted-foreground mt-2">
            Desarrollado por<a class="hover:text-rojo" href="https://tkr0n.github.io/Portfolio/">Saydenier Palacios</a>
        </p>
    </div>
</div>