---
import '@/styles/globals.css'
import Footer from '@/components/Footer.astro'
import {NavMenu} from '@/components/NavMenu'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-950 text-white">
		<NavMenu transition:persist client:load/>
		<slot />
	</body>
	<Footer/>
</html>
<style is:global>
	@font-face {
		font-family: 'Bebas';
		src: url('/fonts/BebasKai.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'Logo';
		src: url('/fonts/vtks.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	.Logo{
		font-family: 'Logo','Bebas';
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Bebas';
		background: #09090b;
		scroll-behavior: smooth;
		color-scheme: dark;
	}
	code {
		font-family: 'Bebas';
	}

	.group:hover > ul {
		display: block;
	}

	.dropdown-submenu {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 10px;
		width: 200px;
		z-index: 1;
	}

	.dropdown-submenu li {
		margin-bottom: 10px;
	}

	.dropdown-submenu a {
		color: #333;
		text-decoration: none;
	}

	.dropdown-submenu a:hover {
		background-color: #f0f0f0;
	}
</style>
